.login-container{
    width: 100vw;
    height: 100vh;
    background-color: #d9e3eb5f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.login-wrapper{
    width: 25%;
    padding: 20px;
    background-color: white;
}

.login-title{
    font-size: 24px;
    font-weight: 300;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-input{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.login-button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}


/* ============= mobile ============= */

@media (max-width:450px){
 
    .login-wrapper{
        width: 75%;
    }
}