.register-container{
    width: 100vw;
    height: 100vh;
    background-color: #d9e3eb5f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-wrapper{
    width: 40%;
    padding: 20px;
    background-color: white;
}

.register-title{
    font-size: 24px;
    font-weight: 300;
}

.register-form{
    display: flex;
    flex-wrap: wrap;
}

.register-input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0 0;
    padding: 10px;
}

.agreement{
    font-size: 12px;
    margin: 20px 0;
}

.register-button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}