.categories-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

/* ============= mobile ============= */

@media (max-width : 450px){
    .categories-container{
        flex-direction: column;
        padding: 0;
    }
}