.cart-wrapper{
    padding: 20px;
}

.cart-wrapper h1{
    font-weight: 300;
    text-align: center;
}

.cart-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.top-text{
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}

.cart-bottom{
    display: flex;
    justify-content: space-between;
    
}

.empty-cart{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: teal;
    margin: 2rem 0;
}

.cart-info{
    flex: 3;
    
}

.container-product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    border:.5px solid lightgray;
    border-radius: 10px;
    margin: 0 1rem  1rem;
    
}

.product-detail{
    flex: 2;
    display: flex;
}

.product-detail img{
    width: 90px;
    height: 90px;
    margin: 1rem;
}

.details{
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.product-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.price-detail{
  flex:1;
  display:flex;
  align-items: center; 
  justify-content: center;
  
}

.price-detail button{
    border:none;
    margin: 0 1rem 0 2rem;
    background-color: transparent;
    cursor: pointer;
    transform:  all .25s ease;
}
.price-detail button:hover{
    transform: scale(1.25);
}

.amount-container{
    display : flex;
    align-items:center;
    margin: 0 10px;
    border:.5px solid lightgray;
    border-radius: 10px;

}

.product-amount{
    font-size:20px;
    margin: 0 10px;
}

.product-price{
    font-size:20px;
    font-weight:400;
}

.cart-summary{
    flex:1;
    border:.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 40vh;
}

.cart-summary h1{
    font-weight: 200;
}

.summary-item{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
}
.cart-summary button{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
}


/* ============= mobile ============= */

@media (max-width:450px){
   
    .cart-bottom{
        flex-direction: column;
    }
   .top-text{
    display: none;
   }

   .container-product{
    flex-direction: column;
    margin: 2rem 0;
   }

   .price-detail{
    margin:2rem;
   }
}