.navbar-container{
    height: 60px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* ============ Navbar Left ============ */

.navbar-left{
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-left span{
    font-size: 14px;
    padding-right: .75rem;;
    cursor: pointer;
}

.search-container{
    display: flex;
    align-items: center;
    border: .5px solid lightgray;
    margin-left:5px;
}

.search-container input{
    border: none;
}

.search-container input:focus{
   outline: none;
}

.search-icon{
    font-size: 10px;
}


/* ============ End Navbar Left ============ */


/* ============ Navbar Center ============ */
.navbar-center{
    flex: 1;
}

.navbar-center a {
    text-decoration: none;
}

.navbar-center h1 {
    color: black;
    font-weight: bold;
    text-align: center;
}

/* ============ End Navbar Center ============ */


/* ============ Navbar Right ============ */

.navbar-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.menu-item {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-left: 25px;
    cursor: pointer;
}