.product-wrapper{
    padding: 50px;
    display: flex;
}

.img-container{
    flex: 1;
    width: 4 0%;
}

.img-container img{
    width: 70%;
    height: 70vh;
    object-fit: cover;
}

.info-container-product{
    flex: 1;
    padding: 0px 50px;
    width: 50%;
}

.info-container-product h1{
    font-weight: 200;
    font-size: 32px;
}

.info-container-product p{
    margin: 20px 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
}

.info-container-product span{
    font-weight: 100;
    font-size: 40px;
}

.filter-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px 0px;
}

.filter-item{
    display: flex;
    align-items: center;
}

.filter-item span{
    font-size: 20px;
    font-weight: 200;
}

.filter-item select{
    margin-left: 10px;
    padding: 5px;
}
.add-container{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.amount-container{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.amount-container span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 20px;
    font-weight:400 ;
}
.add-container button{
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
}

.add-container button:hover{
    background-color: #e9e3e3;
}